<html>
<head>
  <meta charset="utf-8">
  <title>Labels Mock</title>
  <link rel="stylesheet" href="../node_modules/mocha/mocha.css" />
  <style>
    .match { font-weight: bold}
    .selected { color : green;}
  </style>
  <script src="../public/libs/jquery-1.8.2.js"></script>
  <script src="../public/libs/underscore.js"></script>  
</head>
<body> 
  <input type="text" id="add_label" name="label" />  
  <ul id="result"></ul> 

  <script src="../public/labels.js"></script>
  <script type="text/template" id="label_template">      
      <% _.each(matches, function(l){ %>
          <li class='label'>
            <%= l.replace(query, "<span class='match'>" + query + "</span>") %>
          </li>
      <% }); %>
      <% if(!exactMatch && query){ %>
          <li class='create-label'>Create <span class='match'><%= query %></span></li>
      <% } %>
  </script>  
  <script type="text/javascript">
    var labels = aa.labels;
    labels.load(['a', 'b', 'ab', 'abc', 'cia']);
    
    var template = aa.labelTemplate;
    template.setTemplate("#label_template");
    template.setTemplateElement("#result");    

    var labelSelector = aa.labelSearch;
    labelSelector.init({      
      searchField : "#add_label",
      template : template,      
      labels : labels
    });
    labelSelector.search();
  </script>
  
</body>
</html>