@media (min-width: 980px) {
  body
  {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.btn,
.item-description,
.backlog-items .label
{
  margin-right:4px;
}

.btn-toolbar .btn-group .backlog-item-action
{
  margin-left:10em;
}

table.backlog-items td
{
  vertical-align: middle;
}

.nav > li > a:hover 
{
  text-decoration: none;
  background-color: #EEE;
}

.backlog-items .selected
{
  background-color:#FFC;
}

.toolbar
{
  min-height: 32px;
  margin-bottom: 20px;
  padding:0 20px;
}

.toolbar-container
{
  display: none;
}

/* overrides */
.well .form-inline
{
  margin-bottom: 0;
}

/* labels */

#labels
{
  list-style-type: none;
  margin:0;  
}

#labels li
{
  padding:0 5px;
}

#labels li:hover
{
  background-color: whiteSmoke;
}

#labels .label-c
{
  background-image: url('/img/tristate-unchecked.png');
  background-position: 5px 0px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

#labels .selected
{
  background-image: url('/img/tristate-checked.png');
}

#labels .partial
{
  background-image: url('/img/tristate-partial.png');
}

#labels .apply-label
{
  margin: 5px 0;
  padding: 0 10px;  
  cursor: pointer;  
}
.label-match
{
  font-weight: bold;
}

/*****************/