@media (min-width: 980px) {
  body
  {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.btn{
  margin-right:4px;
}

.btn-toolbar .btn-group .backlog-item-action
{
  margin-left:10em;
}
table.backlog-items td
{
  vertical-align: middle;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #EEE;
}

.selected{
  background-color:#FFC;
}
.toolbar
{
  min-height: 30px;
}