extends ../layout

block body 
  .page-header
    h1= backlog.name
      a.btn.pull-right(href="/backlogs/#{backlog._id}/admin")
        i.icon-wrench
        = ' Admin'
      a.btn.pull-right(href="/backlogs/#{backlog._id}/0") History
    
  include includes/add_backlogitem
  include includes/toolbar
  include includes/labels_template.html
  include includes/backlogitems  

append scripts
  script(type='text/javascript')
    aa.backlogitems.init();
    aa.removeBacklogItem.init();    
    aa.backlogLabels.init(!{JSON.stringify(labels)});