extends ../layout

block body 
  .page-header
    h1= backlog.name
      a.btn.pull-right(href="/backlogs/#{backlog._id}/admin")
        i.icon-wrench
        = ' Admin'
      a.btn.pull-right(href="/backlogs/#{backlog._id}/0") History
    
  include includes/add-backlog-item
  include includes/toolbar 
  include includes/backlog-items  

//script(type='text/javascript', src='/backlog_show.js')  
  script(type='text/javascript', src='/backlog_labels.js')
  script(type='text/javascript')
    var backlogItems = !{JSON.stringify(backlog.items)};
    var view = new BacklogView(backlogItems);
    view.init();
    labels.init();