extends ../layout

block body 
  .page-header
    h1= backlog.name
      a.btn.pull-right(href="/backlogs/#{backlog._id}/admin")
        i.icon-wrench
        = ' Admin'
      a.btn.pull-right(href="/backlogs/#{backlog._id}/0") History
    
  include includes/add_backlogitem
  include includes/toolbar
  include includes/labels_template.html
  include includes/backlogitems  

append scripts
  script(src='/aa.backlogitems.js')
  script(src='/aa.remove_backlogitem.js')
  script(src='/aa.labels.js')
  script(type='text/javascript')
    aa.backlogitems.init();
    aa.removeBacklogItem.init();
    $("#add_label_form").click(function(e){ e.stopPropagation();});
    var labels = aa.labels;
    labels.load(!{JSON.stringify(labels)});
    
    var template = aa.labelTemplate;
    template.setTemplate("#label_template");
    template.setTemplateElement("#labels");   

    var selection = aa.labelSelection;
    selection.init(); 

    var labelSearcher = aa.labelSearch;
    labelSearcher.init({      
      searchField : "#add_label_textfield",
      template : template,      
      labels : labels,
      selection : selection,
      onApply : function(e){
        console.log("apply:", e);
      },
      onCreate : function(e){
        console.log("create:", e);
      }
    });
    