extends ../layout

block body	
  .page-header
    h1= title

  - if(typeof error !== 'undefined')
    div.alert.alert-error
      strong Could not create: 
      #{error}

  form.well(method='post', action='/backlog/create')
    div.block
      label Name:
      input(type="text", name='backlog[name]')
    div.block
      button.btn.btn-primary(type="submit") Ok