doctype 5
html(lang="en")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/dist/styles.min-20121209.css")
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          include heading
          if (typeof user !== 'undefined')
            include heading-user-dropdown
    .container-fluid
      block body        
    block scripts
      each s in settings.scripts
        script(src="#{s}")