doctype 5
html(lang="en")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/styles.css")
    link(rel="stylesheet", href="/site.css")

  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          include heading
          if (typeof user !== 'undefined')
            include heading-user-dropdown
    .container-fluid
      block body        
    block scripts
      script(src="/libs/jquery-1.8.2.js")
      script(src="/libs/underscore.js")
      script(src="/libs/bootstrap/js/bootstrap.js")